<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: 1.3;
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 1.8;
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header header--{{ section.settings.logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link link--text focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
            </span>
          </summary>
          <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu list-menu" role="list">
                    {%- for link in section.settings.menu.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details>
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title | escape }}
                              {% render 'icon-arrow' %}
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  {% render 'icon-arrow' %}
                                  {{ link.title | escape }}
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                        <details>
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            {{ childlink.title | escape }}
                                            {% render 'icon-arrow' %}
                                            {% render 'icon-caret' %}
                                          </summary>
                                          <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              {% render 'icon-arrow' %}
                                              {{ childlink.title | escape }}
                                            </button>
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </nav>
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link link--text focus-inset h5">
                      {% render 'icon-account' %}
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    </a>
                  {%- endif -%}
                  <ul class="list list-social list-unstyled" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-twitter' -%}
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-facebook' -%}
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-instagram' -%}
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-youtube' -%}
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}

    {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link link--text focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="search-modal__content" tabindex="-1">
              <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                <div class="field">
                  <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.search' | t }}">
                  <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                  <input type="hidden" name="options[prefix]" value="last">
                  <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                    <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-search">
                    </svg>
                  </button>
                </div>
              </form>
              <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
    {%- endif -%}

    {%- if request.page_type == 'index' -%}
      <h1 class="header__heading">
    {%- endif -%}
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if section.settings.logo != blank -%}
            {%- assign image_size = section.settings.logo_width | append: 'x' -%}
            <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              src="{{ section.settings.logo | img_url: image_size }}"
              loading="lazy"
              class="header__heading-logo"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
    {%- if request.page_type == 'index' -%}
      </h1>
    {%- endif -%}

    {%- if section.settings.menu != blank -%}
      <nav class="header__inline-menu">
        <ul class="list-menu list-menu--inline" role="list">
          {%- for link in section.settings.menu.links -%}
            <li>
              {%- if link.links != blank -%}
                <details-disclosure>
                  <details>
                    <summary class="header__menu-item list-menu__item link focus-inset">
                      <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                      {% render 'icon-caret' %}
                    </summary>
                    <ul class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
                      {%- for childlink in link.links -%}
                        <li>
                          {%- if childlink.links == blank -%}
                            <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                              {{ childlink.title | escape }}
                            </a>
                          {%- else -%}
                            <details>
                              <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                {{ childlink.title | escape }}
                                {% render 'icon-caret' %}
                              </summary>
                              <ul class="header__submenu list-menu motion-reduce">
                                {%- for grandchildlink in childlink.links -%}
                                  <li>
                                    <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                      {{ grandchildlink.title | escape }}
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </details>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </details>
                </details-disclosure>
              {%- else -%}
                <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                  <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}

    <div class="header__icons">
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link link--text focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="search-modal__content" tabindex="-1">
              <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                <div class="field">
                  <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.search' | t }}">
                  <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                  <input type="hidden" name="options[prefix]" value="last">
                  <button class="search__button field__button focus-inset" aria-label="{{ 'general.search.search' | t }}">
                    <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-search">
                    </svg>
                  </button>
                </div>
              </form>
              <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link link--text focus-inset">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
              {% assign itemStyle = '' %}{% if cart.item_count == 0 %}{% assign itemStyle = ' style="display:none;"' %}{% endif %}
{% assign itemEmpty = '' %}{% if cart.item_count == 0 %}{% assign itemEmpty = ' style="display:block;"' %}{% endif %}


<div class="header-cart">
  <a href="#">
    <div class="cart-icon">
      <i class="ion-bag"></i>
      <span class="count-style bigcounter">{{ cart.item_count }}</span>
    </div>
    <div class="cart-text">
      <span class="digit">Cart</span>
      <span class="shopping-cart__total">{{ cart.total_price | money }}</span>
    </div>
  </a>
  <div class="shopping-cart-content">
    <ul>
      <li {{ itemEmpty }} class="cart-dropdown cart-empty-title">
        <h2>{{ 'cart.general.empty' | t }}</h2>
      </li>
      <li {{ itemStyle }} class="cart-dropdown mini-cart">    
        <ul class="cart-items">
          {% for item in cart.items %}
          <li class="single-shopping-cart">
            <div class="shopping-cart-img">
              <a href="{{ cart.item_url }}"><img alt="" src="{{ item | img_url : 'small' }}"></a>
            </div>
            <div class="shopping-cart-title">
              <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
              <h6>Qty: {{ item.quantity }}</h6>
              <span>{{ item.price | money }}</span>
            </div>
            <div class="shopping-cart-delete">
              <a href="javascript:void(0);" onclick="Shopify.removeItem({{ item.variant.id }})" title="Remove this item"><i class="ion ion-close"></i></a>
            </div>
          </li>
          {% endfor %}
        </ul>
        <div class="shopping-cart-total">
          <h4>Total : <span class="shop-total shopping-cart__total">{{ cart.total_price | money }}</span></h4>
        </div>
        <div class="shopping-cart-btn">
           {% if section.settings.view_cart_title != '' %}
          <a href="{{ routes.cart_url }}">{{ section.settings.view_cart_title }}</a>
          {% endif %}
          {% if section.settings.checkout_title != '' %}
          <a href="/checkout">{{ section.settings.checkout_title }}</a>
           {% endif %}
        </div>
      </li>
    </ul>
  </div>
</div>
              
              
    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- if request.page_type != 'cart' -%}
  {%- render 'cart-notification' -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;

      this.onScrollHandler = this.onScroll.bind(this);

      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.reveal.bind(this));
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}

        
        <style>
          .modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:10000;display:none;overflow:auto;-webkit-overflow-scrolling:touch;outline:0}.popup_wrapper{background:rgba(0,0,0,.6) none repeat scroll 0 0;height:100%;opacity:0;position:fixed;transition:all .5s ease 0s;visibility:hidden;width:100%;z-index:9999999}.newsletter_popup_inner{background:#fff;align-items:center;border-radius:0;bottom:0;box-shadow:0 0 7px 1px #222;color:#fff;display:flex;height:400px;left:0;margin:auto;position:absolute;right:0;top:0;width:800px;z-index:9999999}.subscribe_area{padding:40px 150px;text-align:center;width:100%}.subscribe-content>h2,.subscribe_area>h2{color:#000;font-size:30px;font-weight:500;margin-bottom:15px;text-align:center}.subscribe-content>p,.subscribe_area>p{color:#666;font-size:14px;font-weight:400;margin-bottom:20px;text-align:center;line-height:25px}.subscribe-form-group{text-align:center;margin-bottom:0}.subscribe-form-input{background:rgba(0,0,0,0) none repeat scroll 0 0;border:1px solid #ddd;border-radius:0;box-shadow:none;font-size:14px;height:40px;margin:0 auto;padding:5px 10px;max-width:300px}.subscribe-form-input:focus{box-shadow:none;border:1px solid #ddd}.popup_off{border-radius:0;color:#000;cursor:pointer;display:block;font-size:25px;opacity:1;position:absolute;right:15px;text-align:center;top:15px;line-height:25px;height:30px;width:30px;text-align:center;z-index:99}.newsletter-btn{background:#000 none repeat scroll 0 0;color:#fff;font-size:16px;font-weight:600;height:40px;margin-top:25px;padding:5px 25px}.newsletter-btn:hover{background:#666 none repeat scroll 0 0;color:#fff}.subscribe-form-input::-webkit-input-placeholder{color:#666}.subscribe-form-input::-moz-placeholder{color:#666}.subscribe-form-input:-ms-input-placeholder{color:#666}.subscribe-form-input:placeholder{color:#666}.newsletter_popup_inner:before{position:absolute;top:0;left:0;width:100%;background:#000;content:"";opacity:.6;height:100%}.subscribe_area{z-index:9}.subscribe-content{float:left;padding:0 50px;width:60%}.subscribe-image{float:left;width:40%}.subscribe_area.area-2{padding:0;display:flex;align-items:center}.form-group.subscribe-form-group p{color:#000;margin:20px 0 0}@media (min-width:768px) and (max-width:991px){.newsletter_popup_inner{width:720px;height:360px}.subscribe-content{padding:50px}}@media (max-width:767px){.newsletter_popup_inner{min-height:300px;width:300px}.subscribe_area{padding:20px;width:100%}.subscribe-content>h2,.subscribe_area>h2{font-size:20px}.subscribe-image{display:none}.subscribe-content{padding:30px;width:100%}}@media only screen and (min-width:480px) and (max-width:767px){.newsletter_popup_inner{width:400px}}.top-notification-bar{background:#43cea2;background:-moz-linear-gradient(left,#43cea2 0,#185b9d 100%);background:-webkit-gradient(left top,right top,color-stop(0,#43cea2),color-stop(100%,#185b9d));background:-webkit-linear-gradient(left,#43cea2 0,#185b9d 100%);background:-o-linear-gradient(left,#43cea2 0,#185b9d 100%);background:-ms-linear-gradient(left,#43cea2 0,#185b9d 100%);background:linear-gradient(to right,#43cea2 0,#185b9d 100%);padding:10px 0;position:relative}.top-notification-bar::before{background:rgba(0,0,0,.7) none repeat scroll 0 0;content:"";height:100%;left:0;position:absolute;top:0;width:100%}.notification-entry p{color:#fff;display:inline-block;font-family:Karla,sans-serif;font-weight:400;margin:0}.notification-entry p a{background-color:#fff;border:1px solid #fff;border-radius:3px;color:#319da0;display:inline-block;font-family:Karla,sans-serif;font-size:14px;font-weight:500;height:35px;line-height:24px;margin-left:15px;padding:5px 20px;text-transform:uppercase}.notification-entry p a:hover{background-color:transparent;color:#fff;text-decoration:none}.notification-close-btn{background-color:rgba(0,0,0,0);border:1px solid #fff;border-radius:50px;color:#fff;display:block;float:right;font-size:18px;height:25px;line-height:25px;margin-top:5px;position:relative;transition:all .3s ease 0s;width:25px;z-index:999}.notification-close-btn:hover{background-color:#fff;color:#319da0}.notification-entry p a{width:auto}@media only screen and (max-width:767px){.notification-entry p{padding:0 30px}.notification-entry p a{display:block;margin:10px auto 0;width:110px}.notification-close-btn{position:absolute;right:15px;top:0}}.productModal .selector-wrapper>label{width:15%}.productModal .single-option-selector{border-radius:0;height:35px;padding:7px;width:50%}.productModal .selector-wrapper{margin-bottom:15px;margin-top:15px}.productModal .variants_selects{border-bottom:1px solid #e5e5e5;padding:10px 0}.productModal .wrapper.input-content>label{float:left;margin-bottom:0;margin-right:15px;margin-top:5px}.productModal .wrapper.input-content{margin-top:20px;padding:0}.productModal .cart-plus-minus{margin-right:20px;margin-top:5px}.productModal .modal-product .product-images{width:45%}.productModal .modal-product .product-info{width:55%}.productModal .stock2{border-bottom:1px solid #e5e5e5;padding:10px 0}.productModal button.close{opacity:1}.productModal button.close>span{font-size:14px}.productModal button.close:hover span{background:#ff7f00 none repeat scroll 0 0;border-color:#ff7f00;color:#fff}.productModal .s-price-box .amount{color:#a6a6a6;font-size:15px;text-decoration:line-through;font-weight:400}.productModal .selector-wrapper>label{display:none}.productModal .selector-wrapper>label[for=product-select-qv-option-0],.productModal .selector-wrapper>label[for=product-select-qv-option-1],.productModal .selector-wrapper>label[for=product-select-qv-option-2],.productModal .selector-wrapper>label[for=product-select-qv-option-3]{display:inline-block}.disabled-add-to-cart{cursor:not-allowed}ol ol,ol ul,ul ol,ul ul{margin:0}.mega-menu-tree a.mega-menu-title{color:#454545;font-size:15px;margin:0 0 17px;text-transform:uppercase;line-height:15px}.main-menu nav>ul>li>ul.mega-menu>li.menu-img a:before,.mega-menu-tree a.mega-menu-title::before{display:none}.main-menu nav>ul>li>ul.mega-menu>li.menu-img{padding:0;margin:0}.main-menu nav>ul>li>ul.mega-menu>li.menu-img:hover>a,.main-menu ul li.top-hover ul li.mega-menu-tree:hover>a.mega-menu-title{padding-left:0}li.cart-dropdown.cart-empty-title{display:none;border:0;margin:0;padding:15px 30px}li.cart-dropdown.cart-empty-title h2{font-size:20px;margin:0}.shopping-cart-content{padding:0}.subscribe-form{border:0!important;color:#242424!important;width:100%}..subscribe-form form input{background:transparent none repeat scroll 0 0;border-color:#bbb;border-image:none;border-style:none none solid;border-width:medium medium 1px;box-shadow:none;color:#242424;font-size:13px;height:45px;padding-left:0;width:100%}.cart-item.add-item .fa-check{display:inline-block}.cart-item.add-item .icon-handbag,.cart-item.loading .icon-handbag,.cart-item.loading.add-item .fa-check,.cart-item.loading.add-item .fa-times{display:none}.cart-item .fa-check,.cart-item .fa-times,.cart-item .icon-settings{display:none}.cart-item.loading .icon-settings{display:inline-block}.modal-open .cart-item.add-item .fa-times{display:inline-block}.action--wishlist .fa-heart,.action--wishlist .icon-settings{display:none}.action--wishlist.loading-wishlist .icon-settings{display:inline-block}.action--wishlist.add-wishlist .icon-heart,.action--wishlist.loading-wishlist .icon-heart{display:none}.action--wishlist.active .icon-heart{display:none}.action--wishlist.active .fa-heart{display:inline-block}.action--wishlist.loading-wishlist .icon-settings{display:inline-block}.action--wishlist.loading-wishlist.add-wishlist .fa-heart{display:none}.action--wishlist.add-wishlist .fa-heart{display:inline-block}li.cart-dropdown.mini-cart{padding:31px 20px 10px;border:0;overflow-y:auto;max-height:350px}.shopping-cart-img{flex:0 0 75px;margin-right:10px}.shopping-cart-title{flex:0 0 150px}.shopping-cart-delete{flex:0 0 10px}.shopping-cart-total{margin:25px 0 0;display:block;width:100%}.shopping-cart-btn{margin-top:23px;width:100%}.header-cart{width:180px}.timer-style{margin:36px 0 0}.deals-btn{margin:50px 0 0}.ptb-20{padding:20px 0}.breadcrumb-list>li{display:inline-block}.breadcrumb-list>li>a{position:relative;margin-right:25px}.breadcrumb-list>li>a:before{position:absolute;content:"/";font-size:14px;top:-2px;right:-19px}li{margin-bottom:0}.shorting-style select{height:33px;line-height:16px}.pagination-style li a.next:hover,.pagination-style li a:hover,.pagination-style li.active a{background-color:#ff3d2a;color:#fff}.pagination{margin:0}nav.pagination.pagination-style{text-align:center;display:block}.sidebar-list-style ul li.active a{color:#ff3d2a}li.disabled{display:none}#product-area-list-collection-template .section-title{padding-right:10px}#product-area-list-collection-template .section-title-wrap a{position:relative;z-index:999999;background:#fff;padding-right:10px;margin:0}.recent-post-img{flex:1 0 85px}.recent-post-content{flex:1 0 184px}ul.blog_links li{list-style:none;line-height:35px;color:#242424;font-size:15px;transition:.3s}ul.blog_links li a{color:#242424}ul.blog_links{margin-top:15px}ul.blog_links li:hover,ul.blog_links li:hover a{color:#ff3d2a}.blog-instagram a{display:inline-block;margin-bottom:9px;position:relative;margin-right:6px}.blog-instagram a::before{background-color:#ff3d2a;content:"";height:100%;left:0;opacity:0;position:absolute;right:0;transition:all .3s ease 0s;width:100%}.blog-instagram a:hover::before{opacity:.6}.blog-dec-title{margin-bottom:40px}.blog-reply-wrapper input,.blog-reply-wrapper textarea{background:#f7f7f7 none repeat scroll 0 0;border:medium none;border-radius:3px;color:#333;font-size:14px;font-weight:400;height:60px;padding:2px 20px}.blog-reply-wrapper .text-leave input:hover{background-color:#242424}.blog-reply-wrapper .text-leave input{background-color:#ff3d2a;color:#fff;cursor:pointer;display:inline-block;font-weight:500;height:inherit;margin-top:40px;padding:14px 30px;width:inherit}.blog-reply-wrapper textarea{height:235px;padding:25px 20px}.single-blog-wrapper blockquote{margin:20px 0}.cart-main-area td,.cart-main-area th{border:0}html{background-color:transparent}h2.text-capitalize.sub-heading{font-size:30px;margin:0}.cart-clear>input{background-color:#f2f2f2;border-radius:3px;color:#363f4d;display:inline-block;font-size:13px;font-weight:500;line-height:11px;padding:18px 63px 19px;text-transform:uppercase;border:0;transition:.3s}.cart-clear>input:hover{background-color:#ff3d2a;color:#fff}.error-text>h2{font-size:35px;line-height:35px;font-weight:700;text-transform:uppercase;margin:20px 0;color:#242424}.error-text>p{font-size:22px;font-weight:300;line-height:30px;margin-bottom:30px;padding:0 130px;color:#242424}.error-button a{background:#242424 none repeat scroll 0 0;border-radius:0;color:#fff;display:inline-block;font-size:12px;font-weight:700;line-height:40px;margin-top:0;padding:0 30px;text-transform:uppercase;height:40px}.error-button a:hover{background:#ff3d2a}.crate-page h2{font-size:30px;margin-bottom:20px}.crate-page p{font-size:15px;margin-bottom:20px}.crate-page ul{margin-bottom:20px}.crate-page li{line-height:35px;font-size:15px;list-style:inside}.crate-page td,.crate-page th{border:1px solid #e9ecef}.product-wrapper.wishlist-tile-container{float:left;width:25%;padding-left:15px;padding-right:15px}.login-toggle-btn>a{margin-top:6px}.address_form_new input{border:1px solid #ededed;height:45px;box-shadow:none;padding-left:10px;font-size:14px;color:#626262;width:100%}.subscribe-form-group .subscribe-form{border:1px solid #242424!important;color:#242424}.spr-icon.spr-icon-star-empty{opacity:1;color:#242424}.spr-icon.spr-icon-star{color:#ff3d2a}.review-page-comment input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary{background:#242424;border:0;height:40px;padding:0 30px;line-height:40px;font-size:15px;transition:.3s;color:#fff}.review-page-comment input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary:hover{background:#ff3d2a}.product-anotherinfo-wrapper h2{color:#242424;font-size:32px;margin-bottom:20px}.product-anotherinfo-wrapper p{font-size:15px;margin-bottom:20px}.product-anotherinfo-wrapper ul{margin-bottom:20px}.product-anotherinfo-wrapper li{display:block;font-size:15px;color:#242424;line-height:30px;list-style:inside;margin:0}.pro-dec-rating{height:20px}.pro-dec-rating .spr-icon.spr-icon-star-empty{opacity:1;color:#ff3d2a;margin-right:3px}.product-details-content span.product-price-old#ComparePrice{font-size:19px;margin-left:10px}.swatch .header{display:inline-block;float:left;margin-bottom:30px;margin-right:20px;padding-bottom:5px;position:relative}.swatch .swatch-element{float:left}.swatch-element>input{display:none}.swatch-element>label{display:block;float:left;font-size:14px;font-weight:400;margin-right:20px}.swatch-element input:checked+label{color:#666}.swatch-element>label:hover{color:#666}.swatch-element>label{display:block}.product-size{margin-bottom:0}.product-size .swatch{margin-bottom:40px}.swatch-element.color>label{background:#666 none repeat scroll 0 0;border:medium none;display:block;float:left;height:40px;margin-right:13px;margin-top:-13px;padding:0;position:relative;width:40px;border:1px solid #fff;background-position:center center;background-repeat:no-repeat;background-size:cover}.swatch-element.color.white>label{border:1px solid #999}.swatch-element.color input:checked+label{outline:1px solid #666}.Material .swatch-element{float:left;padding-right:10px}.swatch-element.soldout label{cursor:not-allowed;position:relative}.swatch-element.soldout label::after,.swatch-element.soldout label::before{position:absolute;left:43%;top:-40%;content:"";color:red;font-size:40px;text-align:center;width:2px;height:32px;background:red;opacity:.5}.swatch-element.soldout label::before{transform:rotate(-40deg)}.swatch-element.soldout label::after{transform:rotate(40deg)}.swatch-element.red.soldout label::after{color:#000}.product-variant-option .selector-wrapper label{width:80px}.product-variant-option .selector-wrapper select{width:200px;border-radius:0}.product-variant-option .selector-wrapper+.selector-wrapper{margin-top:20px}.swatch .header{display:block;float:none;margin-bottom:16px;margin-right:0;padding-bottom:0;position:relative;color:#707070;font-size:14px;font-weight:600;margin-top:19px}.swatch-element>label{display:block;float:left;font-size:13px;font-weight:700;margin-right:20px;text-transform:uppercase;color:#828282}.swatch-element input:checked+label{color:#050035}.swatch-element.color>label{position:relative;border:1px solid #828282;outline:1px solid transparent;border-radius:50%;display:block;float:left;width:21px;height:21px;margin-right:10px;padding:1px;transition:all .3s ease 0s;margin-top:0}.swatch-element.color input:checked+label{outline:1px solid transparent}.product-variant-option .selector-wrapper label{display:block;margin-bottom:16px;color:#707070;font-size:14px;font-weight:600;margin-top:19px;width:100%}.product-variant-option .selector-wrapper select{width:350px;border-radius:0;border:1px solid #e1e1e1;color:#828282}.product-details-content .shop-list-cart-wishlist a{line-height:45px;height:45px}.quality input{height:45px}.swatch-color{margin-bottom:20px;margin-top:-20px;position:relative}.pro-dec-social ul li a i{margin-right:5px}#quickViewModal .modal-dialog{margin:150px auto;min-width:1000px}#quickViewModal .modal-content{padding:30px 30px 30px}#quickViewModal .modal-body{padding:15px 15px 50px!important;position:relative}#quickViewModal .modal button.close{background:0 0;border:0;color:#fff;cursor:pointer;font-size:35px;font-weight:600;height:35px;letter-spacing:.4px;opacity:1;padding:5px;position:absolute;right:320px;text-shadow:none;text-transform:uppercase;top:80px;width:70px}#quickViewModal .quickview-btn-cart button{position:relative;border:0;line-height:48px;height:48px;width:170px;background-color:#ebebeb;font-size:12px;font-weight:700;color:#252525;text-transform:uppercase;padding:0 25px;box-shadow:none;cursor:pointer;transition:all .3s ease-in-out}#quickViewModal .quickview-btn-cart button:hover{background:#252525;color:#fff}#quickViewModal .quickview-plus-minus .cart-plus-minus{margin-right:20px}#quickViewModal .qwick-view-content h3{font-size:24px;text-transform:capitalize;font-weight:700;color:#252525;line-height:1;margin-bottom:15px}#quickViewModal .price.price-part{display:inline-block;margin-bottom:10px}#quickViewModal .new.price-box__new.amount2.new-price,.old.main.new-price{font-size:24px;font-weight:400;line-height:30px;display:inline-block;color:#242424;margin-right:10px}#quickViewModal .old.main.new-price.amount.price-box__old{color:#242424;margin-right:10px;font-size:20px;line-height:30px;font-weight:400}#quickViewModal .product-info__description.product-des p{line-height:27px;font-size:14px;color:#515151;margin:0 0 20px 0;font-style:italic;letter-spacing:.025em}#quickViewModal .selector-wrapper{display:block;margin-bottom:15px}#quickViewModal .quickview-plus-minus{margin-top:30px}#quickViewModal select{width:100%;background:0 0;border:1px solid #eceff8;height:45px;padding-left:10px;box-shadow:none;font-size:14px;color:#626262}#quickViewModal .cart-plus-minus{position:relative;width:75px;float:left;padding-right:25px}#quickViewModal .cart-plus-minus-box{border:1px solid #e1e1e1;border-radius:0;color:#3c3c3c;height:49px;text-align:center;width:50px;padding:5px 10px;background:0 0}#quickViewModal .dec.qtybutton{bottom:0;right:0}#quickViewModal .dec.qtybutton,#quickViewModal .inc.qtybutton{background:#f1f1f1 none repeat scroll 0 0;cursor:pointer;line-height:15px;position:absolute;text-align:center;width:25px;height:25px;line-height:25px;background:0 0;border:1px solid #ddd}#quickViewModal .inc.qtybutton{top:0;right:0}.modal button.close{background:0 0;border:0;color:#fff;cursor:pointer;font-size:35px;font-weight:600;height:35px;letter-spacing:.4px;opacity:1;padding:5px;position:absolute;right:320px;text-shadow:none;text-transform:uppercase;top:80px;width:70px}.subscribe-form{height:100%}.my-address input.button.section-button{height:40px;width:150px;border:0;background:#242424;color:#fff;transition:.3s}.my-address input.button.section-button:hover{background:#ff3d2a}.my-address select#AddressCountryNew{border:1px solid #242424}.my-address input{border:1px solid #242424;background:0 0}.breadcrumb-list>li>a{font-weight:500}.product-content>h4{text-transform:capitalize}.product-details-content>h4{text-transform:capitalize}.subscribe-form input::-webkit-input-placeholder{color:#242424}.subscribe-form input::-moz-placeholder{color:#242424}.subscribe-form input:-ms-input-placeholder{color:#242424}.subscribe-form input:placeholder{color:#242424}.shop-catigory ul>li ul li a{text-transform:capitalize}.sidebar-list-style ul li a{text-transform:capitalize;padding-left:18px}.sidebar-list-style ul li{position:relative}.sidebar-list-style ul li a:before{position:absolute;content:"\f096";font-family:Fontawesome;left:0;top:0;transition:.3s}.sidebar-list-style ul li.active a:before{content:"\f046 "}.table-content table td.product-thumbnail{padding-left:15px}.cart-text{margin-left:8px;width:70px}.my-address select#AddressCountryNew{height:47px}.my-account-checkbox input#address_default_address_new{height:13px}.custom-html-content h1,.custom-html-content h2,.custom-html-content h3,.custom-html-content h4,.custom-html-content h5,.custom-html-content h6{color:#000;font-weight:600;margin-bottom:20px;text-transform:capitalize}.custom-html-content h1{font-size:26px}.custom-html-content h2{font-size:24px}.custom-html-content h3{font-size:22px}.custom-html-content h4{font-size:20px}.custom-html-content h5{font-size:18px}.custom-html-content h1{font-size:16px}.custom-html-content p{margin-bottom:15px;color:#666;font-size:15px;line-height:27px}.custom-html-content ul{padding-left:15px;margin-bottom:15px;list-style:inside}.custom-html-content ul li{color:#666;font-size:15px;line-height:25px;padding-left:15px;list-style:inherit}.custom-html-content p,.custom-html-content ul{margin-bottom:20px}.custom-html .section-title h2 span{font-size:36px;font-weight:600}.custom-html .section-title>span{font-size:18px}.main-menu nav>ul>li>ul.submenu{width:210px}.main-menu nav>ul>li>ul.mega-menu{width:100%!important}.disabled-add-to-cart{cursor:not-allowed}.header-search{position:relative}.header-search .search-toggle i{display:block}.header-search .search-toggle .s-close{opacity:0}.header-search .search-toggle i.s-close{font-size:19px;left:0;position:absolute;top:4px}.header-search .search-toggle.open .s-close{opacity:1}.header-search .search-toggle.open .s-open{opacity:0}.header-search .search-content{background-color:transparent;opacity:0;position:absolute;right:0;top:50%;transform:translateY(-50%);transition:all .5s ease 0s;visibility:hidden;width:340px;z-index:-9999}.header-search .search-content.open{opacity:1;right:100%;visibility:visible;z-index:9999}.header-search .search-content form{overflow:hidden;position:relative}.header-search .search-content form input{background-color:#fff;border:1px solid #ddd;color:#333;line-height:30px;padding:0 55px 0 20px;width:100%}.header-search .search-content form button{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background-color:transparent;border-color:#ddd;border-image:none;border-radius:0 5px 5px 0;border-style:none none none solid;border-width:medium medium medium 1px;color:#fff;cursor:pointer;font-size:12px;height:100%;padding:0 14px;position:absolute;right:0;top:2px;transition:all .3s ease 0s}.header-search .search-content form button i{font-size:19px;line-height:20px}.same-style button i{color:#545454;font-size:19px;transition:all .3s ease 0s}.form-message--success{color:#56ad6a!important;background-color:#ecfef0;padding:5px;text-align:center;margin-bottom:0}button.success-form-close-btn{text-align:right;float:right;margin-right:20px;padding:0 5px;display:inline-block}.form-group.subscribe-form-group p input{height:15px}.deals-content>p{width:100%}.Payment_button button{float:left;width:48%}.Payment_button button.shopify-payment-button__button{margin-right:10px}.shopify-payment-button .shopify-payment-button__button,.shopify-payment-button .shopify-payment-button__more-options{color:#242424;font-weight:700;text-transform:uppercase;background-color:#f4f5f7;display:inline-block;line-height:1;padding:16px 20px 16px;z-index:99;border-radius:3px;transition:.3s}.shopify-payment-button .shopify-payment-button__button:hover,.shopify-payment-button .shopify-payment-button__more-options:hover{color:#fff!important;background-color:#ff3d2a!important}.shopify-payment-button .shopify-payment-button__more-options{margin:0}.product-details-content span.product-price-old#ComparePrice{text-decoration:line-through}.category-sub-menu ul li.has-sub>a{position:relative;display:block;cursor:pointer}.category-sub-menu ul li.has-sub>a:after{content:"+";position:absolute;right:5px}.category-sub-menu ul li.has-sub.open{display:block;width:auto}.category-sub-menu ul li.has-sub.open>a:after{content:"-"}.category-sub-menu ul li.has-sub li:last-child a{border:none}.category-sub-menu ul li ul{display:none;margin-bottom:15px}.blog-widget .shop-catigory>ul{border-top:none;margin:0;padding:27px 0 0}.shopify-payment-button .shopify-payment-button__button,.shopify-payment-button .shopify-payment-button__more-options{color:#242424;font-weight:700;text-transform:uppercase;background-color:#f4f5f7;display:inline-block;line-height:1;padding:15px 20px 15px;z-index:99;transition:all .3s ease-in-out}.shopify-payment-button .shopify-payment-button__button:hover,.shopify-payment-button .shopify-payment-button__more-options:hover{border:none;color:#fff;background-color:#ff3d2a}.shopify-payment-button .shopify-payment-button__more-options{margin:0}.product-details-content .pro-details-quality .shopify-payment-button{margin:0 25px 0 10px}.Payment_button{overflow:hidden;margin-bottom:25px}.Payment_button button{float:left;width:48%}.Payment_button button.shopify-payment-button__button{margin-right:10px}.shopify-payment-button__button--unbranded:hover:not([disabled]){background-color:#ff3d2a!important}.shopify-payment-button__button{border-radius:3px!important}.quality-add-to-cart{padding:40px 0 25px}.sticky-header.sticky{position:fixed;z-index:99;width:100%;top:0;background:#fff;box-shadow:0 0 2px rgba(0,0,0,.1);-webkit-animation-name:fadeInDown;animation-name:fadeInDown;-webkit-animation-duration:.9s;animation-duration:.9s;-webkit-animation-timing-function:cubic-bezier(0.2,1,0.22,1);animation-timing-function:cubic-bezier(0.2,1,0.22,1);-webkit-animation-delay:0s;animation-delay:0s;-webkit-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-direction:normal;animation-direction:normal;-webkit-animation-fill-mode:none;animation-fill-mode:none;-webkit-animation-play-state:running;animation-play-state:running;border-bottom:0}@media only screen and (min-width:768px) and (max-width:991px){.sticky-header.sticky{position:inherit;-webkit-box-shadow:inherit;box-shadow:inherit;-webkit-animation-name:inherit;animation-name:inherit;padding:0;background:inherit;opacity:inherit}}@media only screen and (max-width:767px){.sticky-header.sticky{position:inherit;-webkit-box-shadow:inherit;box-shadow:inherit;-webkit-animation-name:inherit;animation-name:inherit;padding:0;background:inherit;opacity:inherit}}.instagram-activation .instagram_gallery{margin-left:-15px;margin-right:-15px}.instagram-activation .instagram_gallery a{display:inline-block;width:25%;padding-left:15px;padding-right:15px;margin-bottom:30px}#instafeed-header .instagram_gallery{display:flex;flex-wrap:wrap;margin:32px -7px 30px}#instafeed-header .instagram_gallery a{margin:0 7px 15px;position:relative}#instafeed-header a{float:left;margin:0 7px 15px;position:relative;width:21%}#instafeed-header a::before{background:#ff4136 none repeat scroll 0 0;content:"";height:100%;opacity:0;position:absolute;transition:all .5s ease 0s;width:100%}#instafeed-header a::after{color:#fff;content:"\e73d";font-family:themify;left:50%;opacity:0;position:absolute;top:50%;transition:all .5s ease 0s;transform:translate(-50%,-50%)}#instafeed-header a:hover::before{opacity:.7}#instafeed-header a:hover::after{opacity:1}.sticky-header.sticky{z-index:9999}.banner_full_content h4{font-size:18px;font-weight:600;margin-bottom:15px;text-transform:capitalize}.banner_full_content h2{font-size:30px;font-weight:600;margin-bottom:0;text-transform:capitalize}.banner_full_content a{position:relative;font-size:15px;font-weight:700;color:#fff;line-height:45px;text-transform:capitalize;display:inline-block;border-radius:3px;padding:0 30px;margin-top:30px;background:#000}.banner_full_content a:hover{background:#ff3d2a;color:#fff}.wishlist_exists .row.wishlist-grid--empty-list{display:none}.pro-dec-feature p{margin:0}.product-sku,.product-variant-inventory{margin-top:8px}.rating-review{margin:10px 0 10px}.product_coundown{position:absolute;content:"";left:0;width:100%;top:50%;transform:translateY(-50%);text-align:center;opacity:1;visibility:visible;transition:.3s}.product_coundown span{display:inline-block;text-align:center;background-color:#fff;color:#313131;font-size:18px;padding:5px 15px;margin:0 1px;opacity:1;visibility:visible;transition:.3s}.product_coundown span p{margin:0;color:#313131}.product-wrapper:hover .product_coundown{opacity:0;visibility:hidden}.product-details-content .product_coundown{position:static;top:0;transform:translateY(0);text-align:left}.product-details-content .product_coundown span{background-color:#ff3d2a;color:#fff;margin:0 5px 0 0}.product-details-content .product_coundown span p{color:#fff}.product_coundown.product_timing h5{font-size:18px;margin-bottom:12px}.product_coundown.product_timing{margin-bottom:30px}.section-bg-white{z-index:9}.sticky-header.sticky{z-index:99}.banner-wrap{z-index:9}
        </style>